@font-face {
  font-family: 'Mint Round';
  src: local('Mint Round'), local('MintRound'), url('/assets/fonts/MintRound.woff2') format('woff2'),
    url('/assets/fonts/MintRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
