button {
  padding: 10px;
  background-color: #5c975c;
  outline-color: #1f631f;
  outline-offset: 4px;
  border: 2px solid #5c975c;
  transition: 0.3s all linear;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: 480px) {
    padding: 15px;
  }

  &:hover {
    transform: scale(1.05);
    border-color: #247a24;
    background-color: #247a24;
  }
}
