table {
  width: 100%;
  line-height: 1.42;
  border-collapse: separate;
  border-spacing: 0 20px;
}

th {
  font-family: 'Mint Round', Arial, serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 1.2px;
  cursor: pointer;
  width: 33%;

  @media (min-width: 480px) {
    font-size: 24px;
  }
}

td {
  font-family: 'Mint Round', Arial, serif;
  padding: 20px 5px;
  width: 33%;
  text-align: center;

  @media (min-width: 520px) {
    padding: 25px 5px;
  }
}

tbody tr {
  font-weight: 600;
  background-color: #ffffff;
  transition: 0.3s linear all;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.02);


  @media (min-width: 480px) {
    font-size: 20px;
  }

  @media (min-width: 768px) {
    font-size: 22px;
  }

  &:hover {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.04);
    transform: translate(0, -6px);
  }
}
